* {
    all: unset;
    display: revert;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
}


header {
    justify-content: space-between;
    display: flex;
    background-color: #45688e;
    /*padding: 10px 0;*/
    font-weight: bold;
    align-items: center;
    max-width: 750px;
    margin: auto;
    border-radius: 0 0 10px 10px;
}

.header-text {
    padding: 0 5px;
    font-size: 20px;
    margin: 10px 10px;
    color: white;
}

/*.header-btn {*/
/*    cursor: pointer;*/
/*    color: white;*/
/*    padding: 1px 5px;*/
/*    background-color: #45688e;*/
/*    !*border-radius: 4px;*!*/
/*    !*border: black 1px solid;*!*/
/*    margin: 10px 5px;*/
/*    font-size: 10px;*/
/*    font-weight: bold;*/
/*}*/

/*.header-btn:hover {*/
/*    margin: 0 5px;*/
/*    background-color: #557393;*/
/*    padding: 11px 0;*/
/*}*/

/*button {*/
/*    cursor: pointer;*/
/*    padding: 5px 10px;*/
/*    background-color: #efefef;*/
/*    border: black 1px solid;*/
/*    margin: 0 5px;*/
/*    border-radius: 4px;*/

/*}*/

.header-left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-right {
    display: flex;
    justify-content: right;
    margin: 0 10px;
}

.header-text-v {
    color: #45688e;
    font-size: 20px;
    background-color: #ffffff;
    padding: 0 5px;
    border-radius: 7px;
    margin: 0 3px 0 0;
}

.header-input {
    font-size: 10px;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

.header-btn {
    /*all: revert;*/
    border: none;
    cursor: pointer;
    color: white;
    padding: 15px 5px;
    background-color: #45688e;
    margin: 0 3px; /* Убираем margin, который потом обнуляем */
    font-size: 10px;
    font-weight: bold;
    transition: background-color 0.2s; /* Чтобы менялось плавно */
}

.header-btn:hover {
    background-color: #557393;
}

.main-content {
    justify-content: center;
    display: flex;
    padding: 10px;
    margin: 0 auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    /*border: 1px solid #41658e;*/
}

.main {
    min-width: 500px;
    /*background: orange;*/
    padding: 0;
    text-align: center;
    display: flex;
}

.sidebar-btn {
    text-align: left;
    margin: 3px 10px;
    /*background-color: #dcdcdc;*/
    color: #45688e;
    font-size: 10px;
    padding: 5px 20px 5px 10px;
    transition: 0.2s;
    border-radius: 4px;
}

.sidebar-btn:hover {
    background-color: #e8e8e8;
}

.sidebar-btn-div {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

aside {
    background: cadetblue;
    padding: 10px;
}

.a {
    cursor: pointer;
}

.main-left {
    /*background-color: #0ac630;*/
    width: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid #41658e;

}

.main-page {
    width: 100%;
    background-color: #0ac6b6;
}

.avatar {
    justify-content: center;
    background-color: #8774E1;
    height: 255px;
    width: 90%;
    margin: 10px auto;
}

.main-left-btn-div {
    background-color: lightgrey;
    padding: 8px 8px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    /*height: 10px;*/
}

.main-left-btn {
    font-size: 11px;
    color: white;
    width: 100%;
    padding: 8px 40px;
    background-color: #4474a8;
}

.main-left-btn:hover {
    background-color: #6189b5;
}

.main-left-btn {
    background-color: #3373b8;
}

.info {
    text-align: left;
}

.main-left-btn-gift {
    justify-content: center;
    color: #45688e;
    font-size: 12px;
    background-color: #dfe3e6;
    padding: 8px 8px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
}

.info-friends {
    color: #45688e;
    padding: 0 0 0 20px;
}
